<section class="signup">
  <form
    class="signup__wrapper"
    (ngSubmit)="onSubmit()"
    [formGroup]="userSignUp">
    <h2>Sign up</h2>
    <mat-form-field class="example-full-width signup__form" appearance="fill">
      <mat-label>Username</mat-label>
      <input
        matInput
        placeholder="Enter username"
        type="text"
        name="username"
        formControlName="username" />
    </mat-form-field>
    <mat-form-field class="example-full-width signup__form" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="a@email.com"
        type="email"
        name="email"
        formControlName="email" />
    </mat-form-field>
    <form [formGroup]="formGroupPassword" class="signup__password">
      <app-password-input
        class="example-full-width signup__form signup__form-password"
        formControlName="password"
        label="Password"
        customErrorName="passwordStrength"
        [customErrorMessage]="invalidPasswordMessage"></app-password-input>
      <app-password-input
        class="example-full-width signup__form-password"
        formControlName="confirm"
        label="Confirm Password"
        customErrorName="passwordMismatch"
        [customErrorMessage]="confirmPasswordMessage"></app-password-input>
    </form>
    <button mat-raised-button color="primary" style="margin: 5px" type="submit">
      Sign up
    </button>
    <p>
      <a [routerLink]="['/log-in']">Click</a> if you already have an account
    </p>
    <p style="margin: 0 auto; color: red">{{ this.errMessage }}</p>
  </form>
</section>
