@import "../../../styles.scss";

.login {
  width: 100%;
  &__wrapper {
    margin: 0 auto;
    padding: 10px 20px;
    width: 60%;
    @include displayCenter();
    flex-direction: column;
  }
  &__form {
    margin: 10px;
    width: 40%;
  }
}

@media (max-width: 1150px) {
  .login {
    &__wrapper {
      width: 90%;
    }
    &__form {
      margin: 10px;
      width: 100%;
    }
  }
}
