<section class="login">
  <form class="login__wrapper" (ngSubmit)="onSubmit()" [formGroup]="userLogin">
    <h2>Login</h2>
    <mat-form-field class="example-full-width login__form" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="a@email.com"
        type="email"
        name="email"
        formControlName="email" />
    </mat-form-field>
    <mat-form-field class="example-full-width login__form" appearance="fill">
      <mat-label>Password</mat-label>
      <input
        matInput
        placeholder="Enter password"
        type="password"
        name="password"
        formControlName="password" />
    </mat-form-field>
    <button mat-raised-button color="primary" style="margin: 5px" type="submit">
      Login
    </button>
    <p><a [routerLink]="['/sign-up']">Click</a> to sign up</p>
    <p style="margin: 0 auto; color: red">{{ this.errMessage }}</p>
  </form>
</section>
