.builder {
  width: 100%;
  &__wrapper {
    width: 70%;
    margin: 21px auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.builder__item {
  width: 437px;
  height: auto;
  border: 1px solid #c2d6e1;
  border-radius: 4px 4px 0 0;
  margin-right: 5px;
}

@media (max-width: 1150px) {
  .builder__item {
    margin-bottom: 10px;
    width: 100%;
  }
}

@media (max-width: 1150px) {
  .builder {
    &__wrapper {
      width: 90%;
      justify-content: center;
      flex-direction: column;
    }
  }
}
